<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cduestc.service.dao.CampusMapper">
    <resultMap id="BaseResultMap" type="com.cduestc.service.entity.Campus">
        <id column="campus_id" property="campusId" jdbcType="INTEGER"/>
        <result column="campus_name" property="campusName" jdbcType="INTEGER"/>
        <result column="city_id" property="cityId" jdbcType="INTEGER"/>
        <result column="city_name" property="cityName" jdbcType="VARCHAR"/>
        <result column="open_time" property="openTime" jdbcType="TIMESTAMP"/>
        <result column="close_time" property="closeTime" jdbcType="TIMESTAMP"/>
        <result column="close_reason" property="closeReason" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="SMALLINT"/>
        <result column="custom_service" property="customService" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="CampusWithCityMap" type="com.cduestc.service.entity.CityWithCampus">
        <id column="city_id" property="cityId" jdbcType="INTEGER"/>
        <result column="city_name" property="cityName" jdbcType="VARCHAR"/>
        <collection property="campuses" ofType="com.cduestc.service.entity.Campus">
            <id column="campus_id" property="campusId" jdbcType="INTEGER"/>
            <result column="campus_name" property="campusName" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <resultMap id="CampusAdminMap" type="com.cduestc.service.entity.CampusAdmin">
        <result column="campus_admin" property="campusAdmin" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="SMALLINT"/>
        <result column="campus_id" property="campusId" jdbcType="INTEGER"/>
        <result column="campus_name" property="campusName" jdbcType="VARCHAR"/>
        <result column="last_login_date" property="lastLoginDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="SmallCampusAdminMap" type="com.cduestc.service.entity.CampusAdmin">
        <result column="campus_admin" property="campusAdmin" jdbcType="VARCHAR"/>
        <result column="campus_id" property="campusId" jdbcType="INTEGER"/>
        <result column="campus_name" property="campusName" jdbcType="VARCHAR"/>
        <result column="last_login_date" property="lastLoginDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="CityMap" type="com.cduestc.service.entity.City">
        <result column="city_id" property="cityId" jdbcType="INTEGER"/>
        <result column="city_name" property="cityName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectAllCampus" resultMap="BaseResultMap">
        SELECT
            campus_id,
            campus_name,
            campus.city_id,
            city.city_name,
            open_time,
            close_time,
            status,
            close_reason,
            custom_service
        FROM
            campus, city
        WHERE campus.city_id = city.city_id
    </select>
</mapper>