<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cduestc.service.dao.FoodCategoryMapper">
    <resultMap id="BaseResultMap" type="com.cduestc.service.entity.FoodCategory">
        <id column="category_id" property="categoryId" jdbcType="INTEGER"/>
        <result column="campus_id" property="campusId" jdbcType="INTEGER"/>
        <result column="category" property="category" jdbcType="VARCHAR"/>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="tag" property="tag" jdbcType="SMALLINT"/>
        <result column="serial" property="serial" jdbcType="SMALLINT"/>
        <result column="is_open" property="isOpen" jdbcType="SMALLINT"/>
    </resultMap>

    <select id="selectFoodCategory" resultMap="BaseResultMap">
        SELECT
        category_id,
        campus_id,
        category,
        img_url,
        parent_id,
        tag,
        serial,
        is_open
        FROM food_category
        <where>
            tag!=0 and category_id != 0
            <if test="campusId!=null">
                and campus_id=#{campusId,jdbcType=INTEGER}
            </if>
            ORDER BY category_id
        </where>
        <if test="limit != null and offset!=null">
            LIMIT #{offset,jdbcType=INTEGER}, #{limit,jdbcType=INTEGER}
        </if>

    </select>
</mapper>