<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cduestc.service.dao.OrderMapper">
    <resultMap id="PayByTypeMap" type="com.cduestc.service.entity.PayByType">
        <result column="total_price" property="totalPrice" jdbcType="FLOAT"/>
        <result column="pay_way" property="payWay" jdbcType="SMALLINT"/>
    </resultMap>
    <select id="selectSalesInfoByCampusId" resultType="java.util.HashMap">
        SELECT COUNT(DISTINCT together_id) AS num
        FROM
            orders
        WHERE
            campus_id = #{campusId,jdbcType=INTEGER} AND together_date BETWEEN #{dateStart,jdbcType=TIMESTAMP}
            AND
            #{dateEnd,jdbcType=TIMESTAMP}
    </select>


    <select id="selectTradeVolumeByCampusId" resultMap="PayByTypeMap">
        SELECT SUM(total_price) as total_price,pay_way
        FROM
        together_order
        WHERE
        campus_id=#{campusId,jdbcType=INTEGER}
        <if test="dateStart!=null and dateEnd!=null">
            AND
            together_date BETWEEN #{dateStart,jdbcType=TIMESTAMP}
            AND
            #{dateEnd,jdbcType=TIMESTAMP}
        </if>
        GROUP BY
        pay_way
    </select>
</mapper>